<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cadastro do Efetivo da ASTIC</h3>
    </div>
    <!-- form start -->
    <form role="form" autocomplete="off" #efetivoForm="ngForm" (submit)="salvar(efetivoForm)">
        <input type="hidden" name="id" #inputId="ngModel" [(ngModel)]="efetivo.id">
        <div class="card-body">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" #inputNome="ngModel" [(ngModel)]="efetivo.nome" autofocus placeholder="Nome completo">
            </div>
            <div class="form-group">
                <label for="fone">Fone</label>
                <input type="text" class="form-control" id="fone" #inputFone="ngModel" [(ngModel)]="efetivo.fone" placeholder="Fone">
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
                <div class="col-6">
                    <button type="reset" class="btn btn-danger">
                        <i class="fas fa-redo-alt"></i> Limpar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>